/* Reset and commont styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;  
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 4rem;
  color: #333;
  letter-spacing: .3rem;
  border-bottom: .2rem solid #333;
  margin-bottom: 2rem;
  /* text-shadow: .2rem .2rem .5rem #555; */
}
/* End Reset and common styles */

/* Secton 1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .3)), url(images/bg.jpg) center no-repeat;
  background-size: cover;
  flex-direction: column;
}

.section-1-heading {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.781);
  /* border-radius: 15px; */
  padding: 0 .5rem;
  margin-bottom: 3rem;
  letter-spacing: .1rem;
  /* border-bottom: .4rem solid #fff; */
  /* border-right: .4rem solid #fff; */
  text-shadow: .2rem .2rem 1rem #555;
  /* transform: skew(-3deg); */
}

.person-img {
  width: 20rem;
  height: 24rem;
  border-radius: 50%;
  object-fit: cover;
  /* border: .7rem dotted #0a06f08c; */
  background-color: rgba(255, 255, 255, 0.7);
  /* padding: .3rem; */
  /* opacity: .95; */
}

.person-title {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.781);
  margin: 5rem 0;
  /* border-radius: 15px; */
  padding: 0.5rem 0.5rem;
  letter-spacing: .1rem;
  /* transform: skew(-3deg); */
}

.section-1-btn {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  padding: 0.5rem 1rem;
  letter-spacing: .2rem;
}

/* End Section 1 */

/* Navbar */

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #333;
  box-shadow: .2rem .2rem .5rem #555;
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: whitesmoke;
  margin: 0 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  position: relative;
  transition: color .2s;
}

.navbar-link:hover {
  color: wheat;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: .2rem;
  background-color: wheat;
  position: absolute;
  right: -15%;
  bottom: -.3rem;
  transition: width .2s;
}

.navbar-link:hover::before {
  width: 130%;
}

/* End Navbar */

/* Section 2 */

.skills-icons {
  margin-top: 2rem;
}

.skills-icons img {
  width: 50px;
  height: 50px;
  margin: 0 1.5rem;
}

.section-2 {
  width: 100%;
  height: 100%;
  padding: 5rem 0 8rem 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  font-size: 2rem;
  width: 80%;
}

.skill {
  font-size: 3rem;
  letter-spacing: .3rem;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* border-bottom: .2rem solid #333; */
}

.languages {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.languages div {
  margin: 0 3rem;
}

.languages strong {
  font-weight: 600;
}


/* End Section 2 */

/* Section 3 */

.section-3 {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow .5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  transition: top .3s;
}

.project:hover .project-text {
  top: 4rem;
  margin-bottom: .1rem;
}

.project-name {
  font-size: 2.3rem;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.project-technologies {
  font-size: 1.6rem;
}


.project-img {
  width: 40rem;
  height: 20rem;
  transition: opacity .3s;
}

.project:hover .project-img {
  opacity: .2;
}

.project-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.1rem;
  border: .3rem solid #333;
  padding: 0 1rem;
  margin-bottom: .2rem;
  margin-top: .3rem;
  position: absolute;
  bottom: -5rem;
  transition: bottom .3s;
}

.project-git {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.1rem;
  border: .3rem solid #333;
  padding: 0 1rem;
  margin-bottom: .2rem;
  position: absolute;
  bottom: -8rem;
  transition: bottom .3s;
}

.project:hover .project-link {
  bottom: 5rem;
}

.project:hover .project-git {
  bottom: 2rem;
}
/* End Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  height: 100%;
  padding: 5rem 0 5rem 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 iframe {
  width: 50%;
  height: 35rem;
}

.section-4 h3 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.section-4 p {
  font-size: 1.7rem;
}

.footerImg {
  margin-top: 5rem;
}

.footerImg img {
  width: 5rem;
  height: 5rem;
  margin: .6rem;
  border-radius: 4px;
}

/* End Section 4 */